.data-wrapper {
  margin:50px 0 0 135px;
}

button {
  position: absolute;
  font-size: 18px;
  left:15px;
  top:12px;
}

h1 {
  margin-top: 40px;
}

.main-image {
  max-width: 80px;
}

.beer-frame {
  background:#FFF;
  padding:15px;
  float:left;
  border:solid 5px #333;
  margin:55px 0 0 5px;
  border-radius:10px;
}

dl {

  dt {
    font-weight: bold;
  }
  dd {
    margin: 0 0 10px 5px;
  }

}

@media screen and (min-width: 768px) {
  .beer-image {
    max-width:150px;
  }

  .main-image {
    max-width:150px;
  }

  .beer-frame {
    padding:30px;
  }

  .data-wrapper {
    margin-left:250px;
  }
}
