<button
  (click)="goHome()"
  mat-raised-button
>⬅ Go back</button>

<ng-template [ngIf]="beer">
  <div class="beer-frame">
    <img
      src="{{ beer.image_url }}"
      alt="{{ beer.name }}"
      class="main-image"
    >
  </div>
  <div class="data-wrapper">
    <h1>{{ beer.name }}</h1>
    <h2>{{ beer.tagline }}</h2>
    <dl>
      <ng-template ngFor let-prop [ngForOf]="beerProps">
        <dt>{{ prop[0] }}:</dt>
        <dd>{{ prop[1] }}</dd>
      </ng-template>
    </dl>
  </div>
</ng-template>
