:host {
  display: block;
  padding-top:80px;
}

h1, p {
  background:#FFF;
  padding:5px;
  display: inline-block;
  clear: both;
  pointer-events: none;
  user-select: none;
}

.beer-frame {
  display: inline-block;
  padding:10px;
  background:#FFF;
  border: solid 3px #333;
  border-radius: 6px;
}

.item-image {
  display: block;
  margin: 0 auto 10px auto;
  width:120px;
  height: auto;
}

ul {
  list-style:none;
  margin:50px 0 0 0;
  padding:0;

  li {
    margin:0 0 50px 0;
    padding:0;
    width:100%;
    text-align: center;

    .name {
      display: block;
      background:none;
      margin:0 auto;
      padding:0;
      font-weight: bold;
      max-width: 80%;
    }
  }
}

@media screen and (min-width: 768px) {
  .item-image {
    width:auto;
    max-height: 200px;
  }

  ul {
    li {
      display: block;
      width:20%;
      float:left;

      &:nth-child(5n + 1) {
        clear:left;
        margin-top:10px;
      }
    }
  }
}
