<beer-top-bar (result)="getResults($event)"></beer-top-bar>
<h1>Choose beer type:</h1>
<br>
<ul *ngIf="beerList.length">
  <li *ngFor="let beer of beerList">
    <div class="beer-frame">
      <img
        src="{{ beer.image_url }}"
        alt="{{ beer.name }}"
        class="item-image"
        (click)="goBeerDetail(beer)"
      >
    </div>
    <p class="name">{{ beer.name }}</p>
  </li>
</ul>
<p *ngIf="beerList.length === 0">No results yet, use the search bar above..</p>
