:host {
  width:100%;
  height:60px;
  position: fixed;
  top:0;
  left:0;
  background: linear-gradient(#EEE, #FFF);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.logo {
  width:auto;
  height: 50px;
  position: absolute;
  top:5px;
  left:10px;
  border-radius:8px;
}

.search {
  position: relative;
  left:90px;
  top:5px;
}
