:host {
  display: block;
  width:100vw;
  height: 60px;
  background:#444;
  color:white;
  position: fixed;
  left:0;
  bottom:0;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(#555, #222);
}
