/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background: url(assets/img/pattern-vintage.jpg) repeat;
}

h1, h2 {
  margin:0;
  padding:0;
  font-weight: normal;
}
